{% extends 'main/base.html' %}
{% load static %}
{% block title %}Товары{% endblock title %}
{% block content %}
<div class="col-sm-9">
    <h4 class="text-center alert alert-info">Список товаров</h4>
    <form
        hx-get="{% url 'goods' %}"
        hx-target="#good_list"
        hx-swap="outerHTML"
        hx-trigger="submit, input delay:0.8s"
    >
        {% csrf_token %}
        <input type='text' name='search_good' value='{{ request.GET.search_good }}' />
        <input class="button" type='submit' value="Поиск" />
    </form>
    {% include 'goods/partials/goods_search.html' %}
    <div id="msg" class="alert alert-danger" style="display: none"></div>
    
    
    {% include 'goods/partials/good_create.html' %}
    <a href="{% url 'my_logout' %}">Выход</a>
</div>
{% endblock content %}
{% block add_script %}
<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock add_script %}